.create-gif-container {
  text-align: center;
  display: none;
  .camara-img {
    left: -452px;
    position: relative;
    top: 140px;
  }
  .camara-img-noc {
    display: none;
  }
  .luz-camara {
    left: -455px;
    position: relative;
    top: 137px;
    height: 151px;
    width: 91px;
  }
  .screen-container {
    border: 1px solid #572ee5;
    height: 390px;
    margin: 4px auto 29px auto;
    position: relative;
    top: -140px;
    width: 688px;

    #marginOneId {
      border-left: 1px solid #50e3c2;
      border-top: 1px solid #50e3c2;
      height: 25px;
      margin: 20px;
      width: 27px;
    }
    #marginTwoId {
      border-right: 1px solid #50e3c2;
      border-top: 1px solid #50e3c2;
      height: 27px;
      left: 620px;
      margin: 20px;
      position: relative;
      top: -45px;
      width: 25px;
    }
    #marginThreeId {
      border-bottom: 1px solid #50e3c2;
      border-left: 1px solid #50e3c2;
      height: 27px;
      margin: 20px;
      position: relative;
      top: -329px;
      width: 25px;
      z-index: 3;
    }
    #marginFourId {
      border-bottom: 1px solid #50e3c2;
      border-right: 1px solid #50e3c2;
      height: 25px;
      margin: 20px;
      margin-left: 641px;
      position: relative;
      top: -373px;
      width: 27px;
      z-index: 3;
    }

    h2 {
      color: #572ee5;
      font-size: 25px;
      line-height: 35px;
      margin: 134px 68px 3px 70px;
      position: relative;
      text-align: center;
      top: -90px;
      span {
        color: #50e3c2;
      }
    }
    p {
      color: #000;
      font-family: Roboto,sans-serif;
      font-size: 16px;
      line-height: 30px;
      position: relative;
      top: -85px;
      text-align: center;
    }
    .screen-record {
      bottom: 310px;
      height: 290px;
      position: relative;
      width: 640px;
    }
  }
  #CreateGifButtonsContainerId {
    .btn-counting {
      background-color: #fff;
      border: 1px solid #572ee5;
      border-radius: 100%;
      color: #572ee5;
      font-family: Roboto,sans-serif;
      font-size: 18px;
      height: 32px;
      margin-right: 25px;
      position: relative;
      top: -140px;
      width: 32px;
      &:hover {
        background-color: #572ee5;
        color: #fff;
      }
    }
  }
  #cronometroId {
    bottom: 166px;
    color: #572ee5;

    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 310px;
  }
  hr {
    border: 4px solid #572ee5;
    margin: 19px auto 20px auto;
    position: relative;
    top: -140px;
    width: 790px;
  }
  .tape-img {
    position: relative;
    left: 480px;
    bottom: 255px;
  }
  .tape-img-noc {
    display: none;
  }
  .start-btn {
    background-color: #fff;
    border: 1px solid #572ee5;
    border-radius: 25px;
    color: #572ee5;

    font-weight: bold;
    font-size: 13px;
    height: 50px;
    position: relative;
    top: -227px;
    width: 127px;
    &:hover {
      color: #fff;
      background-color: #572ee5;
    }
  }
}
