/* mobile version*/

//parte superior de la pantalla de inicio
/*--------------------------------------------*/
#topLogoId {
  cursor: pointer;
}

.title-searchbar-trending {
  & .title-container {
    display: flex;
    justify-content: center;
  }
  & h1 {
    width: 286px;
    height: 108px;
    margin: 10px 0 27px 0;
    font-weight: bold;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 35px;
  }
  & .GIFOS {
    color: rgba($color: #50e3c2, $alpha: 1);
  }
  & .searchbar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  & .hello-img {
    width: 273px;
    height: 130px;
  }
  & .searchbar {
    width: 310px;
    height: 50px;
    background: #fff;
    border: 1px solid #572ee5;
    border-radius: 27px;
    transition: 0.4s ease all;

    & .search-btn {
      margin: 15px 15px;
      float: right;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    & .searchbar-input {
      width: 67%;
      height: 47px;
      border: none;
      margin-left: 7%;
      font-size: 16px;
      color: #000;
      transition: 0.4s ease all;
    }

    & .close-search {
      margin: 20px 24px 15px 2px;
      float: right;
      width: 14px;
      height: 14px;
      cursor: pointer;
      display: none;
    }
  }

  & .searchbar-filled {
    height: 185px;
    /* margin-top: 25px; */
    & .searchbar-input {
      border-bottom: solid 1px #9cafc3;
    }
  }

  & #autocomplete-datalist {
    list-style: none;
    color: #9cafc3;
    margin-bottom: 50px;

    & .autocomplete-elements {
      margin: 7px 0 0 21px;
      cursor: pointer;
      & img {
        margin-right: 7px;
      }
    }
  }
}

.border-container {
  display: flex;
  justify-content: center;
  & hr {
    width: 157px;
    border: 1px solid #cfd7e0;
    margin: 35px 0;
    display: none;
  }
}

.search-title-container {
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  margin: 48px 0 40px 0;
}

.gif-container {
  margin: 0 5px 0 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 10px;
  row-gap: 15px;

  & a {
    & .favButton {
      border: none;
      position: absolute;
      top: 10px;
      left: 145px;
      display: none;
    }
    & .downloadBtn {
      border: none;
      position: absolute;
      top: 10px;
      left: 190px;
      display: none;
    }
    & .downloadBtn:hover {
      opacity: 1;
    }
    & .fullsizeBtn {
      border: none;
      position: absolute;
      top: 10px;
      left: 235px;
      display: none;
    }
    & .gif-user {
      position: absolute;
      top: 165px;
      left: 20px;
      display: none;
    }
    & .gif-title {
      font-weight: bold;
      position: absolute;
      top: 185px;
      left: 20px;
      display: none;
    }
    & .cardBtn {
      opacity: 0.7;
      background: #ffffff;
      padding: 7px;
      border-radius: 6px;
      display: none;
    }
  }
}

.gif-container-margin {
  margin-bottom: 50px;
}

.gif-container-child {
  width: 150px;
  height: 120px;
}

.vermas-btn {
  margin: 78px 0 78px 0;
  display: flex;
  justify-content: center;
  & h2 {
    width: 127px;
    height: 50px;
    font-size: 13px;
    color: #572ee5;
    letter-spacing: 0;
    border: 1px solid #572ee5;
    border-radius: 25px;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
  }
}

.sin-resultados-text {
  margin-top: 15px;
  font-size: 22px;
  color: #50e3c2;
  text-align: center;
  line-height: 25px;
}

.trending-topics {
  text-align: center;
  margin: 30px 55px 0 55px;
  line-height: 28px;
  font-size: 14px;
  color: #572ee5;
  & h2 {
    font-weight: bold;
    font-size: 16px;
  }
  & ul {
    display: inline-block;
    list-style-type: none;
  }
  & li {
    cursor: pointer;
    float: left;
    color: #572ee5;
  }
}
/*--------------------------------------------*/

//trending gifs
/*--------------------------------------------*/
.trending-GIFOS {
  background: #f3f5f8;
  height: 430px;
  transition: 0.3s ease all;
}

.trending-title {
  & h2 {
    font-weight: bold;
    padding-top: 44px;
    font-size: 20px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
  }
  & p {
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
  }
}

.footer {
  margin: 50px 0 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h3 {
    font-size: 15px;
    letter-spacing: 0;
  }
  & .copyright {
    font-size: 14px;
    line-height: 20px;
  }
}

.socials {
  margin: 24px 0 46px 0;
  width: 130px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;

  & a {
    font-size: 20px;
    color: #cdd6e0;
  }
  & a:hover {
    color: #572ee5;
  }
  & .fa:hover {
    transform: scale(1.2);
  }
}

.border {
  width: 100%;
  height: 5px;
  background-color: #572ee5;
}

.myModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.myModal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  border-style: dashed dashed dotted solid;
  border-radius: 50%;
  border-width: 10px 5px 2.5px 0;
  width: 200px;
  height: 200px;
  border-color: #572ee5;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.display-none {
  display: none;
}
/*--------------------------------------------*/

/*tablet version*/

@media screen and (min-width: 600px) {
  .title-searchbar-trending {
    & h1 {
      width: 460px;
      height: 75px;
    }
    & .hello-img {
      width: initial;
      height: initial;
    }
    & .searchbar {
      width: 550px;
      height: 50px;
      & .searchbar-input {
        width: 82%;
        margin-left: 4%;
      }
    }
    & .searchbar-filled {
      height: 185px;
      /* margin-top: 25px; */
      & .searchbar-input {
        border-bottom: solid 1px #9cafc3;
      }
    }
  }

  .border-container {
    & hr {
      width: 250px;
      border: 1px solid #cfd7e0;
      margin: 35px 0;
      display: none;
    }
  }

  .search-title-container {
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 70px;
  }

  .gif-container {
    margin: 0 22px 0 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 20px;
    row-gap: 25px;
  }

  .gif-container-child {
    width: 175px;
    height: 150px;
  }

  .trending-GIFOS {
    height: 590px;
  }
  .footer {
    padding: 0 5% 0 5%;
    flex-direction: row;
    justify-content: space-between;

    & .socials {
      margin: 0;
    }
    & .copyright {
      margin-left: auto;
    }
  }
}

/*desktop version*/

@media screen and (min-width: 1220px) {
  .title-searchbar-trending {
    & h1 {
      width: 934px;
      height: 100px;
      padding: 0 135px 0 135px;
      font-size: 40px;
      line-height: 50px;
    }
  }
  .border-container {
    & hr {
      width: 300px;
      border: 1px solid #cfd7e0;
      margin: 35px 0;
      display: none;
    }
  }
  .gif-container {
    padding: 0 16% 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 25px;

    & .gif-container-child {
      width: 280px;
      height: 100%;
    }

    & .anchor-card {
      position: relative;
      background: #572ee5;
      height: 240px;
    }

    & a:hover .gif-text-element {
      opacity: 1;
      color: white;
      display: block;
    }

    & a:hover .cardBtn {
      display: block;
    }

    & a:hover .gif-container-child {
      opacity: 0.6;
    }

    & button:hover {
      opacity: 1;
    }

    & button:active {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1220px) and (max-width: 1750px) {
  .gif-container {
    padding: 0 13% 0;
    margin: 0;

    & .gif-container-child {
      width: 235px;
      height: 100%;
    }

    & a {
      position: relative;
      background: #572ee5;
    }

    & a {
      & .favButton {
        position: absolute;
        top: 10px;
        left: 106px;
        display: none;
      }
      & .downloadBtn {
        position: absolute;
        top: 10px;
        left: 148px;
        display: none;
        cursor: pointer;
      }
      & .fullsizeBtn {
        position: absolute;
        top: 10px;
        left: 190px;
        display: none;
      }
      & .gif-user {
        position: absolute;
        top: 125px;
        left: 20px;
        display: none;
      }
      & .gif-title {
        font-weight: bold;
        position: absolute;
        top: 145px;
        left: 20px;
        display: none;
      }
      & .cardBtn {
        opacity: 0.7;
        background: #ffffff;
        padding: 7px;
        border-radius: 6px;
        display: none;
      }
      & a:hover .gif-text-element {
        opacity: 1;
        color: white;
        display: block;
      }

      & a:hover .cardBtn {
        display: block;
      }

      & a:hover .gif-container-child {
        opacity: 0.6;
      }

      & button:hover {
        opacity: 1;
      }

      & button:active {
        opacity: 1;
      }
    }
  }
}
