.trending-GIFOS-container {
  margin: 32px 0 82px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
}

#prev {
  display: none;
}
#next {
  display: none;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  & a {
    & .favButton {
      border: none;
      position: absolute;
      top: 10px;
      left: 220px;
      display: none;
    }
    & .downloadBtn {
      border: none;
      position: absolute;
      top: 10px;
      left: 265px;
      display: none;
    }
    & .downloadBtn:hover {
      opacity: 1;
    }
    & .fullsizeBtn {
      border: none;
      position: absolute;
      top: 10px;
      left: 310px;
      display: none;
    }
    & .gif-user {
      position: absolute;
      top: 210px;
      left: 25px;
      display: none;
    }
    & .gif-title {
      font-weight: bold;
      position: absolute;
      top: 230px;
      left: 25px;
      display: none;
    }
    & .cardBtn {
      opacity: 0.7;
      background: #ffffff;
      padding: 7px;
      border-radius: 6px;
      display: none;
    }
  }
}

.item {
  width: 247px;
  height: 187px;
}

@media screen and (min-width: 600px) {
  .item {
    width: 357px;
    height: 275px;
  }
  #wrapper {
    max-width: 1220px;
  }
}
@media screen and (min-width: 1220px) {
  #wrapper {
    max-width: 100vw;
  }

  #prev {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("/imagenes/button-left.svg");
    border: 1px solid #572ee5;
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }

  #prev:hover {
    background-image: url("/imagenes/button-left-white.svg");
    background-color: #572ee5;
  }

  #next {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("/imagenes/button-right.svg");
    border: 1px solid #572ee5;
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }

  #next:hover {
    background-image: url("/imagenes/button-right-white.svg");
    background-color: #572ee5;
  }

  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }

  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }

  #content {
    & .anchor-card {
      position: relative;
      background: #572ee5;
      height: 275px;
    }

    & a:hover .gif-text-element {
      opacity: 1;
      color: white;
      display: block;
    }

    & a:hover .cardBtn {
      display: block;
    }

    & a:hover .item {
      opacity: 0.6;
    }

    & button:hover {
      opacity: 1;
    }
    & button:active {
      opacity: 1;
    }
  }
}
