$themes: (
  default: (
    backgroundColor: #fff,
    backgroundColorMenu: #572ee5,
    textColorSecondary: #ffffff,
    textColor: #572ee5,
    textColorUnderLine: #5ed7c6,
    textTitleGIFOS: #50e3c2,
    backgroundColorGIFOS: #f3f5f8,
    socialsColors: #cdd6e0,
  ),
  dark: (
    backgroundColor: #37383c,
    backgroundColorMenu: #000,
    textColor: #fff,
    borderColor: #000,
    backgroundColorGIFOS: #222326,
    socialsColors: #cdd6e0,
  ),
);
